<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appdid">

    <!--갤러리 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 쓰기 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 읽기-->

    <!--갤러리 권한-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 인터넷 권한-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"></uses-feature> <!--카메라 기능 사용 카메라를 못쓰는 기기면 앱이 죽음(required true 의미) -->


    <application
        android:name=".utility.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDid"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TeamSettingActivity">

        </activity>


        <!--사진 촬여 후 저장 할 작업을 위한 프로바이더 ,res/xml 폴더에 경로 설정-->
        <provider
            android:authorities="com.example.appdid.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>